* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: rgb(23, 22, 22);
}

:root {
    --main-bg-color: #DDC2A5;
    --lighter-bg-color: #E7D2BA;
  }

body {
    width: 100%;
    font-size: 16px;
    background-color: var(--main-bg-color);
}

a {
    text-decoration: none;
    /* transition: all 0.5s; */
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}
ul {
    list-style-type: none;
}

header {
    width: 100%;
    background-color: var(--main-bg-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 0 10px #000;
    /* border-bottom: 1px solid rgb(23, 22, 22); */
}

.name {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    flex: 1 1 150px;
}

.name:hover {
    color:#5b5858;
}

nav {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 150px;
}

nav a {
    padding: 0 10px;
}

nav a:hover {
    color: #5b5858;
    text-decoration: underline;
}

.burger-toggle {
    display: none;
  }
  
.burger-menu {
display: none;
flex-direction: column;
justify-content: space-around;
width: 30px;
height: 25px;
background: transparent;
border: none;
cursor: pointer;
padding: 0;
z-index: 10;
}

.burger-menu span {
width: 30px;
height: 3px;
background: rgb(23, 22, 22);
transition: all 0.3s linear;
}

.burger-toggle:checked + .burger-menu span:nth-child(1) {
transform: rotate(45deg) translate(5px, 5px);
}

.burger-toggle:checked + .burger-menu span:nth-child(2) {
opacity: 0;
}

.burger-toggle:checked + .burger-menu span:nth-child(3) {
transform: rotate(-45deg) translate(7px, -6px);
}

.mobile-nav {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: var(--main-bg-color);
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 9;
}
  
.mobile-nav a {
    font-size: 24px;
    margin: 20px 0;
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 150px
}

.social-media a {
    margin: 0 10px;
    
}
.social-media a:last-child {
    margin-right: 0;
}
.social-media a:first-child:hover, 
.social-media a:nth-child(2):hover,
.social-media-mobile a:first-child:hover, 
.social-media-mobile a:nth-child(2):hover
{
    transform: scale(1.1);
    transition: transform 0.5s;
}

.social-media-mobile {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center'
}

.social-media-mobile a:first-child, 
.social-media-mobile a:nth-child(2) {
    width: 20%;
    margin: 10px 0;
}

.button {
    padding: 10px 25px;
    border: 1px solid rgb(23, 22, 22);
    display: flex;
    align-items: center;
    min-width: 135px;
}

.button:after {
    content: url('../img/right-arrow.png');
    margin-top: 5px;
    padding-left: 10px;
    
  }

.button:hover {
    background-color:rgb(23, 22, 22);
    color: var(--main-bg-color);
    transition: background-color 0.5s;
    /* box-shadow: 0 0 10px #000; */
}

.button:hover::after {
    content: url('../img/right-arrow1.png');
    transition: all 0.5s;
}

main {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

section {
    padding: 70px 0;
    margin: auto;
    width: 90%;
    animation: show 500ms ease-in-out;
}

@keyframes show {
    from {
      padding-top: 100px;
      opacity: 0;
    }
    to {
      padding-top: 70px;
      opacity: 1;
    }
  }

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.about-title {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about-title h3, .about-title h2 {
    width: 47%;
    padding-bottom: 30px;
} 

.about-photo {
    width: 47%;
    overflow: hidden;
}

.about-photo img {
    width: 100%;
}

.about-photo img:hover {
    transform: scale(1.05);
    transition: transform 1s;
}

.about-text {
    padding-top: 30px;
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.about-text h1 {
    padding-top: 30px;
}

.about-text p {
    line-height: 1.5;
    padding: 10px 0;
}

.reverse {
    flex-direction: row-reverse;
    flex: 0 0 auto;
    padding-top: 30px;
}

.reverse a:last-child {
    margin-left: 0;
    margin-right: 10px;
}

.experience {
    width: 100%;
    padding: 50px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--lighter-bg-color);
}

.experience h1 {
    width: 35%;
 
}

.experience ul {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
}

.experience ul li {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 30px 30px 10px 30px;
}

.experience ul li h3{
    margin-bottom: 20px;
    flex-basis: 50%;
}

.experience ul li p {
    padding-bottom: 20px;
}

.projects {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 50px;
}

.project-image {
    overflow: hidden;
}
.project-image a img {
    width: 100%;
    transition: all 1s;
}

.project-image a img:hover {
    transform: scale(1.05);
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-description p {
    padding-top: 30px;
    font-size: 20px;
    line-height: 1.5;
}

.project-description div {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
}

.projects h1 {
    grid-column: 1 / 3;
    grid-row: 1;
}

#project1-image {
    grid-column: 1 / 2;
    grid-row: 2;
}

#project1-description {
    grid-column: 2 / 3;
    grid-row: 2;
    padding-left: 50px;
}

#project2-description {
    grid-column: 1 / 2;
    grid-row: 3;
    padding-right: 50px;
}

#project2-image {
    grid-column: 2 / 3;
    grid-row: 3;
}

.contacts {
    width: 100%;
}

.contacts-content {
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 50px;
}

.my-contacts {
    width: 90%;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 30px 0;
}

.my-contacts span, .my-contacts a {
    margin-top: 10px;
}

.contact-social-media {
    display: flex;
    justify-content: flex-start;
}

.contact-social-media a {
    margin: 20px 20px 0 0;
    transition: transform 0.5s;
}

.contact-social-media a:hover {
    transform: scale(1.1);
}

.contact-form {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}


.contact-form div {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

footer {
    background-color: var(--main-bg-color);
    z-index: 10;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(23, 22, 22);
}